.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'League Lo', root_path, class: 'navbar-brand'
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li{class: params[:controller] == 'players' ? 'active' : ''}
          = link_to 'LeaderBoard', root_path
        %li{class: params[:controller] == 'matches' ? 'active' : ''}
          = link_to 'Create a Match', new_match_path
